* {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

#awardsList {
  display: none;
}

header img {
  border-radius: 50%;
  display: block;
  margin: auto;
}

header h1 {
  text-align: center;
}

main ul li {
  float: left;
  margin: 10px;
  list-style: none;

}

.snsImages {
  display: flex;
}

.snsImage {
  flex: 1 1 auto;
  margin: 10px;
}

.snsImage img {
  width: 450px;
}

.snsImages {
  list-style: none;
}